$white: rgb(255, 255, 255);
$cream: rgb(252, 250, 228);
$orange: rgb(235, 175, 32);
$dark-orange: rgb(210, 143, 42);
$brown: rgb(61, 41, 20);
$grey: rgb(51, 51, 51);
$light-grey: rgb(76, 77, 77);

$primary: $orange;
$secondary: $dark-orange;
